.cards-title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 30px;
  letter-spacing: 1px;
}

#cocktails {
  padding-top: 40px;
  padding-bottom: 140px;
}

.cards {
  display: flex;
  justify-content: center;
  padding-top: 20px
}

.card {
  width: 265px;
  height: 350px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}

.card-img {
  width: auto;
  height: auto;
  max-width: 265px;
  min-height: 350px;
}

.card-name {
  font-family: 'Poppins';
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 16px;
}

.cocktail-card {
  background: white;
  max-width: 900px;
  margin: 0 100px 20px 200px;
  position: relative;
  margin-top: 60px;
}

.cocktail-image {
  margin-top: 40px;
  margin-left: -100px;
}

.cocktail-name {
  margin: 0;
  font-size: 24px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cocktail-content {
  display: flex;
}

.cocktail-ingredients {
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 220px;
  height: 200px;
  overflow: scroll;
  border-right: 1px solid;
  a {
    color: black;
  }
}

#new-ingredient-form {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.back-arrow {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  color: black;
}
