<div class="navbar-shakeit">
  <%= link_to "Sip Me Baby One More Time", cocktails_path, class: "logo-link" %>
  <%= link_to new_cocktail_path do %>
    <i class="fas fa-plus 3x"></i>
  <% end %>
</div>
